* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  text-align: center;

  /* 👇 أهم تعديل */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;
  padding-top: 40vh;

background: url("img/1.png") no-repeat center center;
background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

body > * {
  position: relative;
  z-index: 1;
}

input {
  display: block;
  margin: 10px auto;
  padding: 12px;

  /* 👇 بدل المقاس الثابت */
  width: 90%;
  max-width: 320px;

  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 12px;
  font-size: 1rem;

  /* 👇 يخليه متجاوب */
  width: 90%;
  max-width: 320px;

  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background: #218838;
}