* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 🔥 مهم للجوال */
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial;

  /* 👇 نستخدم min-height بدل height */
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  /* ❌ حذف padding لأنه سبب السكرول */
  padding: 0;

  background: url("img/1.png") no-repeat center center;
  background-size: cover;
}

/* overlay */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* المحتوى */
.container {
  position: relative;
  z-index: 1;

  width: 50%;
  max-width: 200px; /* 👈 كبرناه */

  text-align: center;
  color: white;
}

/* العنوان */
h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* الحقول */
input {
  width: 100%;
  margin-bottom: 12px;
  padding: 14px;

  border-radius: 25px;
  border: none;

  font-size: 13px;
}

/* الزر */
button {
  width: 100%;
  padding: 14px;

  background: #2e7d5b;
  color: white;

  border: none;
  border-radius: 25px;

  font-size: 16px;
}