* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 🔥 مهم للجوال */
html,
body {
  height: 100dvh;
  overflow: hidden;
}

/* الأساس */
html,
body {
  overflow: hidden;
}

body {
  font-family: Arial;

  height: 100dvh; /* 👑 أهم سطر */

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;

  background: url("img/1.png") no-repeat center center;
  background-size: cover;
}

/* overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* المحتوى */
.container {
  position: relative;
  z-index: 1;

  width: 90%;
  max-width: 380px;

  text-align: center;
  color: white;
}

/* العنوان */
h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  line-height: 1.4;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

/* الحقول */
input {
  width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  text-align: right;
  direction: rtl;

  color: white;

  background-color: transparent;

  border: 1px solid #ccc;
  border-radius: 25px;

  font-size: 15px;
}

input:focus {
  outline: 1px solid #ccc;
  border-color: #ccc;
}

/* الزر */
button {
  width: 70%;
  padding: 10px;

  background: #2e7d5b;
  color: white;

  border: 1px solid #ccc;
  border-radius: 25px;

  font-size: 16px;

  transition: 0.2s;
}

button:hover {
  background: #256b4d;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

/* ✅ الشعارات (تم إصلاحها هنا فقط) */
.logos {
  position: fixed; /* 🔥 بدل absolute */
  bottom: 12px;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  z-index: 2;
}

.logos img {
  width: 90px; /* 👈 صغرناها شوي */
  height: auto;
  opacity: 0.9;
}
