* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  /* 👇 الخلفية */
  background: url("img/2.png") no-repeat center center;
  background-size: cover;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  position: relative;
}

/* 👇 طبقة تغميق */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.container {
  text-align: center;
  background: white;

  width: 90%;
  max-width: 350px;

  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  /* 👇 يخليه فوق الخلفية */
  position: relative;
  z-index: 1;
}

h1 {
  color: #4caf50;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  margin-bottom: 15px;
}